<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twitter site </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>

 
    
    <%- include('../partials/header') %>
    
    <div class="container">

        
        

        <% if (loggedin) { %> 

            <div class="account-navigation">
                <ul class="navbar-nav">
    
                    <li class="nav-item active">
                        <a href="/account"> Account </a>
                    </li>
                    
                </ul>
            </div>
            
            <form action="/process-tweet" method="POST" class="tweet-form">
                <div class="form-group">
                    <label>Tweet message here: </label>
                    <textarea class="form-control" rows="3" name="tweetContent" autocomplete="off"></textarea> 
                    <small id="characters"> Characters remaining: 140 </small>
                </div>


                <button type="submit" id="tweet" class="btn btn-primary">Tweet</button>
            </form>
            
            <% for(var i = 0; i < total; i++) { %>
                <div class="tweet-body">
                    <h4> <a href="/profile/<%- user[i].user %>"> @<%- user[i].user %> </a> </h4>
                    <p> <%- message[i].message %> </p>
                    <% if(user[i].user === username) { %> 
                        <a href="/delete/<%- id[i].id %>"> Delete </a>
                    <% } %>
                </div>
            <% } %>
        <% } else { %>
            <div class="landing-not-logged-in">
                <h4> Guess you need to login lmao. </h4>
            </div>
        <% } %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>



        $(document).ready(function(){
            $("#modalLink").click(function(){
                $('#loginModal').modal();
            });
        });

        $(document).ready(function(){
            $("#registerLink").click(function(){
                $('#registerModal').modal();
            });
        });

        $('textarea[name="tweetContent"]').on('keyup keydown', updateCount);

        function updateCount() {
            $('#characters').text('Characters remaining: ' + (140 - $(this).val().length));
            
            if($(this).val().length > 140) {
                $('#characters').css('color', 'red')
                $('#tweet').prop('disabled', true);
            }
            else {
                $('#characters').css('color', 'black')
                $('#tweet').prop('disabled', false);
            }
        }

    </script>
</body>
</html>